@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap");
@import "./calendar.module.css";

:root {
  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background-top-left: #111021;
  --background-top-right: #1a173e;
  --background-bottom-left: #0c0c11;
  --background-bottom-right: #15132e;

  --color-purple: #7154e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
        to right,
        var(--background-top-left),
        var(--background-top-right)
      )
      top left,
    linear-gradient(
        to right,
        var(--background-top-right),
        var(--background-top-left)
      )
      top right,
    linear-gradient(
        to left,
        var(--background-bottom-left),
        var(--background-bottom-right)
      )
      bottom left,
    linear-gradient(
        to left,
        var(--background-bottom-right),
        var(--background-bottom-left)
      )
      bottom right;
  background-repeat: no-repeat;
}

.scrollbar::-webkit-scrollbar {
  width: 20px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.swiper-pagination-bullet {
  border: 2px solid rgba(95, 95, 95, 0.441);
}